body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.main-container {
    position: relative;
    display: flex;
    flex-direction: column;
    /* height: 100vh;
    width: 100vw; */
    width: 100%;
    min-width: 700px;
    height: 100%;
    min-height: 100vh;
    background-color: #950101;
}

.logo-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.logo-container h1 {
    font-size: 100px;
    color: #FAF9F6;
    width: 700px;
    border-top: 3px solid #FAF9F6;
    border-bottom: 3px solid #FAF9F6;
}

.search-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    text-align: center;
    align-items: center;
    margin-top: 20vh;
}

.search-container input {
    width: 600px;
    height: 35px;
    font-size: 30px;
    padding: 5px 5px 5px 10px;
    border-radius: 5px;
    border: 3px solid white;
}

.search-options-container {
    display: flex;
    flex-direction: column;
    padding-top: 2px;
    width: 590px;
    height: 245px;
    overflow: scroll;
    border-top: 3px solid #FAF9F6;
}

.search-options-container::-webkit-scrollbar {
    display: none;
}

.search-option-container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 5px 5px 5px 10px;
    margin: 2px;
    background-color: #FAF9F6;
    height: 35px;
    justify-content: center;
    text-align: left;
    /* animation: fadeIn 0.1s; */
}

.search-option-container:hover {
    background-color: #FDFD96;
    cursor: pointer;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.search-option-select-icon {
    position: absolute;
    right: 10px
}

.search-option-container p {
    font-size: 25px;
}

.footer-container {
    position: absolute;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background-color: #FAF9F6;
}

.footer-container p {
    font-weight: bold;
    color: #950101;
}